@tailwind base;
@tailwind components;
@tailwind utilities;

.cont{
    scrollbar-width: 0px;
    -ms-overflow-style: none;
}
.cont::-webkit-scrollbar{
    display: none;
}
html{
    overscroll-behavior: none;
}
body{
    overscroll-behavior: none ;
}
#name{
    border: 0px;
}
#name:active{
    inset: none;
    inset: 0px;
    border: 0px;
}



/* wvae aniamtion start */
#wavepath1{
    animation-name: wave1;
    animation-duration: 5s;
    transition-property: all;
    transition-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes wave1 {
    from{
        transform: translateY(70px);
    }
    to{
        transform: translateY(0px);
    }
}
#wavepath2{
    animation-name: wave2;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes wave2 {
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(0px);
    }
}
#wavepath3{
    animation-name: wave2;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes wave3 {
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0px);
    }
}
/* wave animation end */


/* TEXT BUBBLE ANIMATION */

.niceText{
    transition: 
    0.35s font-weight,
    0.35s color;
}
.niceText:hover{
    font-weight: 900;
    color: rgb(25, 32, 45);
}

    /*Selection to the right*/
        /* when the text is hovered, select the next sibling to the right with class of niceText */
.niceText:hover + .niceText{
    font-weight: 800;
    color: rgb(37, 43, 57);
}

        /* chain the selection to the select the second sibling to the right */
.niceText:hover + .niceText + .niceText{
    font-weight: 700;
}
    /*Selection to the left/*
        /* now we use the has: to select the class of niceText that has a next sibling of niceText:hover */

.niceText:has(+ .niceText:hover){
    font-weight: 800;
    color: rgb(17,24,39);
}

        /*now we select the text that has the next text having the class of niceText and that too have same class with hover*/
.niceText:has(+ .niceText + .niceText:hover){
    font-weight: 700;
}

.noisy-overlay{
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-name: noise;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes noise {
    100%{
        transform: rotate(360deg);
    }
}

.sidebarInvisible{
    transform: translateX(-700px);
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.sidebarVisible{
    transform: translateX(0px);
    transition-property: all;
    transition-timing-function: ease-in-out;
}
